NODE_ENV=development
PORT=3000

# Database
DATABASE_URL="postgresql://user:password@host:port/database"

# Redis
REDIS_HOST="localhost"
REDIS_PORT=6379

# JWT
JWT_SECRET="your_jwt_secret"
JWT_EXPIRATION_TIME="60s"

POSTGRES_DB=argus
POSTGRES_USER=argus
POSTGRES_PASSWORD=argus
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
REDIS_HOST=redis
REDIS_PORT=6379
